html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f5f5dc;
  z-index: -1;
}

.container {
  position: relative;
  z-index: 0;
  padding: 20px;
  width: 80%;
  margin: 10px auto;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.banner div {
  position: absolute;
  left: 0;
}

.banner h1 {
  margin: 0;
}

.banner a {
  text-decoration: none;
  color: #004225;
}

.goBack {
  font-size: 2rem;
}

@media (max-width: 700px) {
  .banner {
    flex-direction: column;
    align-items: flex-start;
  }

  .banner div {
    position: static;
    margin-bottom: 10px;
  }

  .banner h1 {
    text-align: left;
  }

  .goBack {
    font-size: 1.5rem;
  }
}

.firstLayer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2.5rem;
  margin-bottom: 20px;
}

.photo {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.description {
  font-style: italic;
  text-align: center;
  max-width: 50%;
  margin: 20px auto;
}

.ingredients,
.cooking-steps,
.review {
  margin-bottom: 20px;
}

.ingredients ul,
.cooking-steps ol {
  margin: 0;
  padding: 0 0 0 20px;
}

.ingredients li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ingredient-name {
  margin-right: 10px;
  font-weight: 700;
  text-transform: capitalize;
}

.ingredients li {
  margin-bottom: 5px;
}

.cooking-steps ol li {
  margin-bottom: 1.2rem;
  font-weight: 600;
}

hr {
  width: 50%;
  min-width: 150px;
  margin: 0 auto;
  border: 3px solid #004225;
}

/* Responsive adjustments */
@media (max-width: 800px) {
  @media (max-width: 800px) {
    .firstLayer-container {
      grid-template-columns: 1fr;
      grid-row-gap: 2.5rem;
    }

    .secondLayer-container {
      display: flex;
      flex-direction: column;
    }

    .photo-container {
      text-align: center;
    }

    .description {
      max-width: 80%;
    }

    .review {
      order: 2;
    }

    .cooking-steps {
      order: 1;
    }
  }
}

@media (max-width: 500px) {
  .description {
    max-width: 90%;
    font-size: 1em;
  }

  .ingredients,
  .cooking-steps {
    margin-bottom: 15px;
  }

  .ingredients li,
  .cooking-steps li {
    flex-direction: column;
    align-items: flex-start;
  }

  .ingredient-name,
  .ingredient-quantity {
    margin-bottom: 5px;
  }

  .ingredients li {
    align-items: center;
    border-top: 1px solid #004225;
    border-bottom: 1px solid #004225;
  }

  .photo {
    max-width: 100%;
  }
}

.secondLayer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2.5rem;
}

.review {
  font-style: italic;
}

@media (max-width: 800px) {
  .secondLayer-container {
    grid-template-columns: 1fr;
  }
}
