<div class="page-background"></div>
<app-header></app-header>

<section>
  <article class="search">
    <form (ngSubmit)="searchRecipes()" #recipeForm="ngForm">
      <div class="form-group">

        <div *ngIf="selectedIngredients.length>0" style="display: flex; align-items: center; flex-wrap: wrap; gap: 10px;">
          <label>Вибрані Інгредієнти: </label>
          <div *ngFor="let selectedIngredient of selectedIngredients; let i=index" style="display: flex;">
            <label class="selectedIngredient-div">{{selectedIngredient.name}}</label>
            <button class="selectedIngredient-btn" (click)="deleteIngredient(i)">X</button>
          </div>
        </div>

        <div class="search-container">
          <input
            type="text"
            class="search-input"
            id="title"
            name="title"
            [(ngModel)]="title"
            placeholder="Введіть інгредієнти або назву рецепту"
            (input)="searchInputChange()"
            (focus)="searchInputFocused=true" 
            (blur)="searchInputBlur()"
          />
          <button type="submit" class="search-button">Знайти рецепти</button>
        </div>

        <div>
          <ul *ngIf="searchInputFocused==true" style="position: absolute;list-style-type: none;">
            <li class="search-li"  *ngFor="let recipe of recipesSearchList; let i=index"  routerLink="/recipe-page/{{recipe.id}}">
                <img src="../../assets/images/recipe-icon.png" style="height: auto;width:28px; margin-right: 5px;" alt="recipe-photo"> {{recipe.title}}<h6 style="margin-left: 2px;"> - Страва</h6>
            </li>
            <li class="search-li" *ngFor="let ingredient of ingredientsList; let i=index" (click)="addIngredient(i)">
              <img src="../../assets/images/ingredient-icon.png" style="height: auto;width:28px; margin-right: 5px;" alt="recipe-photo">  {{ingredient.name}}  <h6 style="margin-left: 2px;"> - Інгредієнт</h6>
          </li>
          </ul>
        </div>

      </div>
    </form>
  </article>
</section>

<div style="float:left; margin-left:12vw;">
    <label>Кількість результатів: <b>({{pagination.TotalCount}})</b></label>
</div>
<div style="float: right; margin-right: 12vw;">
  <label>Сортувати за:</label>
  <select (change)="searchRecipes()" [(ngModel)]="selectedSortOption" id="sort-select">
      <option>--Виберіть--</option>
      <option *ngFor="let sortoption of sortOptions; let i=index">
          {{sortoption}}
      </option>
  </select>
</div><br><br>

<section class="cards-container" style="border-top:solid 2px gray;">
  <label *ngIf="recipes.length==0" style=" font-size:30px;">Немає результатів.</label>
  
  <div
    class="card"
    *ngFor="let recipe of recipes"
    (click)="goToRecipePage(recipe.id)"
  >
    <div
      class="card-img-top"
      [style.backgroundImage]="'url(' + recipe.photo + ')'"
    ></div>
    <div class="card-body">
      <h5 class="card-title">{{ recipe.title }}</h5>
      <div class="user-container">
        <div class="avatar">
          <img
            src='../../assets/images/avatar-placeholder.png'
            alt="Avatar"
            class="avatar"
          />
        </div>
        <div class="sub-user-container">
          <p class="username">username</p>
          <p class="date">
            <i class="fas fa-calendar-alt" style="font-size: 1.4rem"></i>
            {{ recipe.creationDate | date }}
          </p>
          <p>
            
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="pagination-container">
  <div class="pagination" *ngIf="pagination">
    <button
      class="previous"
      [disabled]="!pagination.HasPrevious"
      (click)="loadPreviousPage(); scrollToTop()"
    >
    </button>
    <ng-container *ngFor="let page of getPageNumbers()">
      <button
        class="pageNumbers"
        [disabled]="pagination.CurrentPage === page"
        [class.current]="pagination.CurrentPage === page"
        (click)="loadRecipesForPage(page); scrollToTop()"
      >
        {{ page }}
      </button>
    </ng-container>
    <button
      class="next"
      [disabled]="!pagination.HasNext"
      (click)="loadNextPage(); scrollToTop()"
    >
      —>
    </button>
  </div>
</div>
