<div id="auth-background">
  <app-header></app-header>
  <!--Password reset-->
  <div id="pass-form">
    <div id="cancel-btn" routerLink="/"></div>
    <h2>ЗАБУЛИ СВІЙ ПАРОЛЬ?</h2>
    <h6 id="pass-chng-txt">
      Введіть електронну адресу свого облікового запису. Ми надішлемо вам
      посилання для зміни пароля.
    </h6>
    <form [formGroup]="resetform" id="reset-form">
      <div class="form-group">
        <label>ЕЛЕКТРОННА ПОШТА</label>
        <input
          type="text"
          placeholder=""
          class="form-control"
          name="email"
          formControlName="email"
        />
        <div
          class="alert-data"
          *ngIf="
            resetform.get('email')?.touched && resetform.get('email')?.invalid
          "
        >
          <div *ngIf="resetform.get('email').errors?.required">
            *Це обов'язкове поле.
          </div>
          <div *ngIf="resetform.get('email').errors?.email">
            *Неправильно введено пошту.
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="submitemail-btn"
        [disabled]="resetform.invalid"
        (click)="onSubmit()"
      >
        ВІДНОВИТИ ПАРОЛЬ
      </button>
      <div class="alert-data" style="margin-left: 33%;" *ngIf="errorMessage.length>0" > {{errorMessage}}</div>
    </form>
  </div>
</div>
