<div class="page-background"></div>
<app-header></app-header>
<main>
  <article class="welcoming">
    <section class="welcoming-message">
      <h1>Шо Поїсти!</h1>
      <p>
        Готувати стає простіше та веселіше! Ласкаво запрошуємо на "Що поїсти" –
        ваш вірний помічник у кулінарному світі. Натисни кнопку “підібрати
        рецепт” нижче і ми допоможемо вам знайти ідеальний реуепт,який
        відповідає вашим потребам та наявним продуктам
      </p>
      <a href="#"><div class="receipe-btn">Підібрати рецепт</div></a>
    </section>
    <section>
      <div class="dish-image-container">
        <img src="../../assets/images/dish.png" alt="Welcoming dish image" />
      </div>
    </section>
  </article>

  <article class="search">
    <div>
      <input
        type="text"
        placeholder="Введіть інгредієнти або назву рецепту"
        class="search-input"
      />
      <div class="search-button"><a href="#">Знайти рецепти</a></div>
    </div>
    <section class="recommendation-container">
      <h2>Популярні запити</h2>
      <ul>
        <li>картопля з овочами</li>
        <li>борщ</li>
        <li>гарбузова каша</li>
        <li>пиріг з яблуками</li>
        <li>салат з кавуном і медом</li>
      </ul>
    </section>

    <a href="#" class="add-recipe-button">
      <img
        src="../../assets/images/receipe-icon.svg"
        alt="Add Recipe Icon"
        class="add-recipe-icon"
      />
      Додати Рецепти
    </a>
  </article>
  <img src="{{imageURL}}">
</main>
