<div id="auth-background">
  <app-header></app-header>
  <!--PASS-RESET-FORM-->
  <div id="pass-form">
    <div id="cancel-btn" routerLink="/"></div>
    <h2>ВІДНОВЛЕННЯ ПАРОЛЮ</h2>
    <h6 id="pass-chng-txt">Введіть ваш новий пароль.</h6>
    <form [formGroup]="passresetform" id="reset-form">
      <div class="form-group">
        <div class="password-container">
          <input
            type="password"
            placeholder="Пароль"
            class="form-control"
            name="passwordreset"
            formControlName="passwordreset"
          />
          <img
            id="toggleresetPassword"
            src="../../assets/images/togglepassword1.png"
            (click)="toggleresetPasswordVisibility()"
          />
        </div>
        <div
          class="alert-data"
          *ngIf="
            passresetform.get('passwordreset')?.touched &&
            passresetform.get('passwordreset')?.invalid
          "
        >
          <div *ngIf="passresetform.get('passwordreset').errors?.required">
            *Це обов'язкове поле.
          </div>
          <div *ngIf="passresetform.get('passwordreset').errors?.minlength">
            *Пароль має містити мінімум 8 символів.
          </div>
          <div *ngIf="passresetform.get('passwordreset').errors?.pattern">
            *Пароль має містити хоча б 1 цифру,<br />
            1 маленьку та 1 велику букву.
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="password-container" style="margin-top: 10%">
          <input
            type="password"
            placeholder="Повторіть пароль"
            class="form-control"
            name="passwordresetrepeat"
            formControlName="passwordresetrepeat"
          />
          <img
            id="toggleresetrepeatPassword"
            src="../../assets/images/togglepassword1.png"
            (click)="toggleresetrepeatPasswordVisibility()"
          />
        </div>
        <div
          class="alert-data"
          *ngIf="
            passresetform.get('passwordresetrepeat')?.touched &&
            passresetform.get('passwordresetrepeat')?.invalid
          "
        >
          <div
            *ngIf="passresetform.get('passwordresetrepeat').errors?.required"
          >
            *Це обов'язкове поле.
          </div>
        </div>
        <div class="alert-data">
          <div
            *ngIf="
              passresetform.get('passwordreset').value !=
              passresetform.get('passwordresetrepeat').value
            "
          >
            *Паролі мають співпадати.
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="submitemail-btn"
        [disabled]="passresetform.invalid"
      >
        ПІДТВЕРДИТИ
      </button>
    </form>
  </div>
</div>
