<div id="auth-background">
    <app-header></app-header>
    <!-- Authorization -->
    <div id="auth-form" *ngIf="false">
        <div id="cancel-btn" routerLink="/"></div>
        <form [formGroup]="loginform" id="login-form">
            <h1>УВІЙТИ</h1>
            <div class="form-group">
                <label>ЕЛЕКТРОННА ПОШТА</label>
                <input type="text" placeholder="" class="form-control" name="email"
                formControlName="email">
                <div class="alert-data" *ngIf="loginform.get('email')?.touched&&loginform.get('email')?.invalid">
                    <div *ngIf="loginform.get('email').errors?.required">*Це обов'язкове поле.</div>
                    <div *ngIf="loginform.get('email').errors?.email">*Неправильно введено пошту.</div>
                </div>
            </div>
            <div class="form-group">
                <label>ПАРОЛЬ</label>
                <div class="password-container">
                    <input type="password" placeholder="" class="form-control" name="password" formControlName="password">
                    <img id="togglePassword" src="../../assets/images/togglepassword1.png" (click)="togglePasswordVisibility()">
                </div>
                <div class="alert-data" *ngIf="loginform.get('password')?.touched&&loginform.get('password')?.invalid">
                    <div *ngIf="loginform.get('password').errors?.required">*Це обов'язкове поле.</div>
                </div>
                <button id="forgot-btn">Забули пароль?</button>
            </div>
            <hr class="form-line">
            <button type="submit" class="submit-btn" [disabled]="loginform.invalid">УВІЙТИ</button>
        </form>
    </div>
<!--Password reset-->
    <div id="pass-form" *ngIf="false">
        <div id="cancel-btn" routerLink="/"></div>
        <h2>ЗАБУЛИ СВІЙ ПАРОЛЬ?</h2>
        <h6 id="pass-chng-txt">Введіть електронну адресу свого облікового запису. Ми надішлемо вам посилання для зміни пароля.</h6>
        <form [formGroup]="resetform" id="reset-form">
            <div class="form-group">
                <label>ЕЛЕКТРОННА ПОШТА</label>
                <input type="text" placeholder="" class="form-control" name="email"
                formControlName="email">
                <div class="alert-data" *ngIf="resetform.get('email')?.touched&&resetform.get('email')?.invalid">
                    <div *ngIf="resetform.get('email').errors?.required">*Це обов'язкове поле.</div>
                    <div *ngIf="resetform.get('email').errors?.email">*Неправильно введено пошту.</div>
                </div>
            </div>
            <button type="submit" class="submitemail-btn" [disabled]="resetform.invalid">ВІДНОВИТИ ПАРОЛЬ</button>
        </form>
    </div>
<!--Registration-->
    <div id="regi-form" *ngIf="false">
        <div id="cancel-btn" routerLink="/"></div>
        <form [formGroup]="reggform" id="regg-form">
            <h1>СТВОРИТИ АКАУНТ</h1>
            <table>
                <tr>
                    <td>
                        <div class="regg-group">
                            <input type="text" placeholder="Електронна пошта" class="form-control" name="email"
                            formControlName="email">
                            <div class="alert-data" *ngIf="reggform.get('email')?.touched&&reggform.get('email')?.invalid">
                                <div *ngIf="reggform.get('email').errors?.required">*Це обов'язкове поле.</div>
                                <div *ngIf="reggform.get('email').errors?.email">*Неправильно введено пошту.</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="avatar-container">
                            <div class="image-container" *ngIf="reggform.file; else placeholder"
                            [ngClass]="{'box-shadow-avatar': !!reggform.file}"
                            [ngStyle]="{backgroundImage: 'url(' + reggform.file + ')'}">
                            </div>
                        
                            <ng-template #placeholder>
                                <div class="image-container avatar-placeholder">
                                </div>
                            </ng-template>
                        
                            <label for="avatar-input-file">
                                <div class="icon-wrapper">
                                    <input type="file" id="avatar-input-file" accept="image/*" (change)="onFileChange($event)" />
                                    <mat-icon class="icon" fontIcon="add"></mat-icon>
                                </div>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="regg-group">
                            <div class="password-container">
                                <input type="password" placeholder="Пароль" class="form-control" name="passwordreg" formControlName="passwordreg">
                                <img id="toggleregPassword" src="../../assets/images/togglepassword1.png" (click)="toggleregPasswordVisibility()">
                            </div>
                            <div class="alert-data" *ngIf="reggform.get('passwordreg')?.touched&&reggform.get('passwordreg')?.invalid">
                                <div *ngIf="reggform.get('passwordreg').errors?.required">*Це обов'язкове поле.</div>
                                <div *ngIf="reggform.get('passwordreg').errors?.minlength">*Пароль має містити мінімум 8 символів.</div>
                                <div *ngIf="reggform.get('passwordreg').errors?.pattern">*Пароль має містити хоча б 1 цифру,<br> 1 маленьку та 1 велику букву.</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="regg-group">
                            <div class="password-container">
                                <input type="password" placeholder="Повторіть пароль" class="form-control" name="passwordrepeat" formControlName="passwordrepeat">
                                <img id="toggleregrepeatPassword" src="../../assets/images/togglepassword1.png" (click)="toggleregPasswordrepeatVisibility()">
                            </div>
                            <div class="alert-data" *ngIf="reggform.get('passwordrepeat')?.touched&&reggform.get('passwordrepeat')?.invalid">
                                <div *ngIf="reggform.get('passwordrepeat').errors?.required">*Це обов'язкове поле.</div>
                            </div>
                            <div class="alert-data">
                                <div *ngIf="reggform.get('passwordrepeat').value!=reggform.get('passwordreg').value">*Паролі мають співпадати.</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr class="reggform-line">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="regg-group">
                            <input type="text" placeholder="Прізвище" class="form-control" name="surname"
                            formControlName="surname">
                            <div class="alert-data" *ngIf="reggform.get('surname')?.touched&&reggform.get('surname')?.invalid">
                                <div *ngIf="reggform.get('surname').errors?.required">*Це обов'язкове поле.</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="regg-group">
                            <input type="text" placeholder="Ім'я" class="form-control" name="firstname"
                            formControlName="firstname">
                            <div class="alert-data" *ngIf="reggform.get('firstname')?.touched&&reggform.get('firstname')?.invalid">
                                <div *ngIf="reggform.get('firstname').errors?.required">*Це обов'язкове поле.</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <button type="submit" class="submit-btn" [disabled]="reggform.invalid">ДАЛІ</button>
            <div style="display: flex;">
                <h6 id="pass-chng-txt">Вже є акаунт? </h6>
                <button id="reg-signin-btn">Увійти</button>
            </div>
        </form>
    </div>
<!--PASS-RESET-FORM-->
<div id="pass-form" *ngIf="true">
    <div id="cancel-btn"routerLink="/"></div>
    <h2>ВІДНОВЛЕННЯ ПАРОЛЮ</h2>
    <h6 id="pass-chng-txt">Введіть ваш новий пароль.</h6>
    <form [formGroup]="passresetform" id="reset-form">
        <div class="form-group">
            <div class="password-container">
                <input type="password" placeholder="Пароль" class="form-control" name="passwordreset" formControlName="passwordreset">
                <img id="toggleresetPassword" src="../../assets/images/togglepassword1.png" (click)="toggleresetPasswordVisibility()">
            </div>
            <div class="alert-data" *ngIf="passresetform.get('passwordreset')?.touched&&passresetform.get('passwordreset')?.invalid">
                <div *ngIf="passresetform.get('passwordreset').errors?.required">*Це обов'язкове поле.</div>
                <div *ngIf="passresetform.get('passwordreset').errors?.minlength">*Пароль має містити мінімум 8 символів.</div>
                <div *ngIf="passresetform.get('passwordreset').errors?.pattern">*Пароль має містити хоча б 1 цифру,<br> 1 маленьку та 1 велику букву.</div>
            </div>
        </div>
        <div class="form-group">
            <div class="password-container" style="margin-top: 10%;">
                <input type="password" placeholder="Повторіть пароль" class="form-control" name="passwordresetrepeat" formControlName="passwordresetrepeat">
                <img id="toggleresetrepeatPassword" src="../../assets/images/togglepassword1.png" (click)="toggleresetrepeatPasswordVisibility()">
            </div>
            <div class="alert-data" *ngIf="passresetform.get('passwordresetrepeat')?.touched&&passresetform.get('passwordresetrepeat')?.invalid">
                <div *ngIf="passresetform.get('passwordresetrepeat').errors?.required">*Це обов'язкове поле.</div>
            </div>
            <div class="alert-data">
                <div *ngIf="passresetform.get('passwordreset').value!=passresetform.get('passwordresetrepeat').value">*Паролі мають співпадати.</div>
            </div>
        </div>
        <button type="submit" class="submitemail-btn" [disabled]="passresetform.invalid">ПІДТВЕРДИТИ</button>
    </form>
</div>
</div>