<div class="page-background"></div>
<app-header></app-header>
<div class="user-profile">
  <h1>Налаштування профілю</h1>
  <div class="avatar-container">
    <img
      [src]="user?.avatar || '../../assets/images/default_user.jpg'"
      alt="Avatar"
      class="avatar"
    />
    <button (click)="changeAvatar()" class="changeAvatar">+</button>
  </div>
  <form
    [formGroup]="profileForm"
    (ngSubmit)="saveProfile()"
    class="profile-form"
  >
    <div class="name-fields">
      <div class="form-group">
        <label for="firstName">Ім'я</label>
        <input type="text" id="firstName" formControlName="firstName" />
      </div>
      <div class="form-group">
        <label for="lastName">Прізвище</label>
        <input type="text" id="lastName" formControlName="lastName" />
      </div>
      <button class="namesChange">Зберегти зміни</button>
    </div>
    <a routerLink="/password-reset" class="password-reset"
      >Забули пароль? Створіть новий
    </a>
    <div class="password-fields">
      <div class="form-group">
        <label for="newPassword">Новий пароль</label>
        <div class="password-container">
          <input
            type="password"
            id="newPassword"
            formControlName="newPassword"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Повторіть новий пароль</label>
        <div class="password-container">
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
          />
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="profileForm.invalid">
      Зберегти пароль
    </button>
  </form>
</div>
