<div id="recipe-create-page">
    <app-header></app-header>

    <div id="recipe-create-form">

        <div id="page-title">
            ДОДАТИ НОВИЙ РЕЦЕПТ
        </div>

        <input type="text" placeholder="Назва рецепта" >
    
        <hr id="form-line">

        <button id="upload-photo-btn">Завантажити фото</button>

        <textarea placeholder="Опис" id="describe-text-area"></textarea>

        <div class="form-txt">Час приготування:</div>

        <div class="form-txt">Вкажіть інгредієнти:</div>

        <div class="form-txt">Кроки для приготування:</div>

    </div>
</div>