<header>
  <nav>
    <button
      class="toggle-menu"
      (click)="toggleMenu()"
      aria-expanded="false"
      aria-label="menu"
    ></button>
    <ul class="nav-menu" [ngClass]="{ active: isMenuActive }">
      <button class="close-menu-button" (click)="closeMenu()"></button>
      <li class="nav__item"><a routerLink="/">Що Поїсти</a></li>
      <li class="nav__item"><a routerLink="/catalog">Пошук рецептів</a></li>
      <li class="nav__item"><a routerLink="/modelpage">Пошук рецептів по фото</a></li>
      <li class="nav__item"><a href="/recipe-create">Додати рецепт</a></li>
      <li class="nav__item"><a href="/active-learning">Навчання моделі</a></li>
      <li class="nav__item"><a href="/model-status">Статус моделі</a></li>
    </ul>
  </nav>
  <a routerLink="/" class="brand">
    <img src="../../assets/images/logo.svg" alt="Logo" />
  </a>
  <div class="buttons-section">
    <div *ngIf="!isAuthorized" class="signIn" routerLink="/sign-in">
      <a  aria-label="Sign in">Вхід</a>
    </div>
    <div *ngIf="!isAuthorized" class="signUp" routerLink="/sign-up">
      <a aria-label="Sign up">Зареєструватися</a>
    </div>

    <div *ngIf="isAuthorized" style="border: none; text-align: center" routerLink="/userpage">
      <a aria-label="User Page">Налаштування профілю</a>
    </div>
    <div
      *ngIf="isAuthorized"
      style="border: none; cursor: pointer; text-align: center"
    >
      <a aria-label="logout" (click)="logout()">Вийти</a>
    </div>
  </div>
</header>
<div
  *ngIf="isMenuActive"
  (click)="closeMenu()"
  [ngClass]="{ backdrop: isMenuActive }"
></div>
